github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "nakiostudio/EasyPeasy"
github "onevcat/Kingfisher"
github "Hearst-DD/ObjectMapper"
github "ViccAlexander/Chameleon"
github "malcommac/SwiftDate"
github "Ramotion/animated-tab-bar"
github "jdg/MBProgressHUD"
